<% include ./include/header1 %>
<div class="container">
  <% include ./include/header2 %>
  <main>
      <h3 style="border-bottom: 4px solid rgba(0,0,0,0.13);"><%= post.title %></h3>
      <p class="mt-4"><%= post.description %></p>
  </main>
  <% include ./include/footer1 %>
</div>
<% include ./include/footer2 %>
